{% extends "core/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    {% if post.author == user %}
        <div><a href="{% url "posts:post_update" pk=post.pk %}">Редактировать</a></div>
    {% endif %}
    {{ post.sign }}
    <br>
        <i><small>{{ post.pub_date }}</small></i>
    <br>
    <img src="{{post.picture.url}}">

    {% for comment in post.comment_set.all %}
        <blockquote>
            {{ comment.text }}
        <br>
            <i><small>{{ comment.pub_date }}</small></i>
        </blockquote>
    {% endfor %}


{% endblock %}
