{% extends "base.html" %}

{% block title %}Список постов{% endblock %}

{% block content %}
    <form action="">
        {{ form.search }}
        {{ form.sort_field }}
        {{ form.sort_field.errors }}
        <input type="submit">
    </form>

    {% for post in object_list %}
        <div>
            <div><i><small>{{ post.created_at }}</small></i></div>
                <div><a href = "{% url "post:post_detail" pk=post.id %}">
                    <b>{{ post.title }}</b></a></div>
                <img src="{{post.picture.url}}">

        </div>
    {% endfor %}
{% endblock %}
